html{
    scroll-behavior: smooth;
}

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 1px;
}

#navbar #logo{
    margin-top: 5px;
    margin-bottom: 0px;
}

#navbar #logo img{
    margin-bottom: 0px;
    margin-top: 2px;
}

#home{
    height: 235px;
    padding: 10px 30px;
}

#home p{
    font-size: 10px;
}

#home::before{
    height: 360px;
}

#services{
    flex-direction: column;
}

#services .box {
    padding: 20px 8px;
    margin: 8px 10px;
}

#services .box img{
    width:135px;
}

#clients{
    flex-wrap: wrap;
}

#clients img{
    width:135px;
}

.client-item {
    padding: 20px;
    height: auto;
}

#contact form{
    width:70%;
}

.h-primary{
    font-size: 24px;
}

.btn{
    font-size: 13px;
    padding:3px 8px;
}